<div class="center-child bg-light">
  <div class="form-wrap">
    <h1 class="text-danger">Sign In</h1>
    <%= render 'user_form', url: sessions_path, user: @user, submit_label: 'Sign In' %>
  </div>
</div>
