$color-secondary: #fd6000;
$color-secondary-light: #fda400;
$color-secondary-lighter: #fde400;
$color-light: #fff;
$color-danger: #ff1e00;
$color-green: #023a02;
$color-dark: #4d453d;
$color-success: #d4f6c6;
$color-alert: #f6cfc6;
$color-faint: #f0f5fb;
