@import './colors';

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clip {
  position: absolute;
  left: -1px;
  top: -1px;
  clip-path: circle(1px at 0 0);
}

.dim {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.cover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.cover.open {
  display: block;
}

.text-danger {
  color: $color-danger
}

.text-light {
  color: $color-light;
}

.text-secondary {
  color: $color-secondary;
}

.text-center {
  text-align: center;
}

.center-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fore {
  z-index: 2000;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.mb-10px {
  margin-bottom: 10px;
}

.loader-wrap {
  background-color: #fff;
  padding: 40px;
}

.page-header {
  position: sticky;
  top: 0;
  padding: 20px;
  border-bottom: 3px solid gray;
  .logo {
    margin: 0;
    font-size: 1.4rem;
  }
}

.page-main {
  position: relative;
  height: calc(100vh - 65px);
}

.btn {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 15px 30px;
  cursor: pointer;

  &.btn-primary {
    background-color: green;
    color: #fff;
  }
}

.form-wrap {
  position: relative;
  margin: auto;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  border: 1px solid rgb(241, 245, 247);
  border-radius: 2px;

  form {
    & > div {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #eef3f5;
  }
}

.menu-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 10px;
}

.user_action_links {
  .separator {
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: gray;
  }
}

.article-summary {
  width: 50%;
  align-self: stretch;
  padding: 15px 10px;

  &.w-100 {
    width: 100%;
  }

  .article-category {
    display: inline-block;
    color: $color-secondary-light;
    font-weight: bold;
    border-bottom: 2px solid $color-secondary-light;
  }

  .heading {
    font-size: 1rem;
    margin: 15px 0 20px;
  }

  .summary {
    margin: 0 0 20px;
  }

  .author {
    margin: 0 0 20px;
  }

  .summary-footer {
    color: $color-secondary;
  }
}
