<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=1807344599282760&autoLogAppEvents=1" nonce="dZhLt95B"></script>
<div class="articles-list bg-light">
  <%= article_list(@category, @articles) %>
</div>
