<footer class="page-footer d-flex justify-content-space-between align-items-center">
  <%= link_to image_tag('corner_logo.png', class: "logo"), root_path %>
  <div class="footer-links">
    <%= link_to 'Privacy Policy', root_path, class: 'footer-link text-secondary' %>
    <%= link_to 'Terms & Conditions', root_path, class: 'footer-link text-secondary mx-10px' %>
    <span class="text-light">Copyright 2021. Allrights reserved.</span>
  </div>
  <%= footer_social_media_links %>
</footer>
