<div id="<%= id %>" class="cover fore">
  <div class="cover open dim"></div>
  <div class="center-child">
    <div class="loader-wrap">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
