<header class="flex justify-content-space-between align-items-center">
  <h1 class="logo">Chass corner</h1>
  <div class="menu-links">
    <%= menu_links %>
  </div>
  <%= user_action_links current_user %>
<header>
